<div class="author">
    <h1 class="author_heading">Dobrodošli na našu stranicu s blogovima! 
        Otkrijte raznovrsne i zanimljive blogove o različitim temama. Sadržaj koji informira, zabavlja i inspirira. Pridružite se našoj zajednici. Sretno čitanje i uživajte u bloganju!</h1>
    <p class="author_body"></p>

</div>